@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');

body {
	--radius-s: 8px;
	--radius-m: 12px;
	--radius-l: 16px;
	--input-radius: 12px;
	--tab-radius-active: 12px;
	--checkbox-radius: 12px;
	--toggle-radius: 12px;
	--toggle-thumb-radius: 12px;
	--slider-thumb-radius: 12px;
	background-color: var(--background);
	color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bolder;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
	border-radius: var(--radius-m);
	background-color: var(--background);
	color: var(--text);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

.theme-light {
	--text: #121421;
	--background-primary: #e7e9f3;
	--primary: #313a5e;
	--secondary: #af8dc3;
	--accent: #96539d;

	--highlight-hue: 30;
	--italic-color: var(--accent);
	--bold-color: var(--accent);
	--h1-color: var(--accent);
	--h2-color: var(--accent);
	--h3-color: var(--accent);
	--h4-color: var(--accent);
	--h5-color: var(--accent);
	--h6-color: var(--accent);
}

body.theme-light {
	background-color: var(--background);
	color: var(--text);
}

body.theme-light h1 {
	color: var(--h1-color);
}

body.theme-light h2 {
	color: var(--h2-color);
}

body.theme-light h3 {
	color: var(--h3-color);
}

body.theme-light h4 {
	color: var(--h4-color);
}

body.theme-light h5 {
	color: var(--h5-color);
}

body.theme-light h6 {
	color: var(--h6-color);
}
